<div id="ms-app" class="ui ms-grid">
    <div class="ms-row fluid">
        <div class="ms-grid">
            <div class="ms-row fluid">
                <!--ms-sidebar ng-if="$ctrl.isLoggedIn()"></ms-sidebar-->
                <div id="ms-content" class="ms-column fluid">
                    <div class="ms-grid">
                    	<!--<ms-navbar></ms-navbar>-->
                        <hr>
                        <nav>
                            <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a> - 
                            <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Frutas</a> - 
                            <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a> - 
                            <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a> - 
                            <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>
                        </nav>
                        <hr>
						<router-outlet></router-outlet>
						<!--<ms-footer></ms-footer>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
